<section>
    <div class="cards">
        <div class="card">
            <figure>
                <img src="../recursos/tierra.jpg">
            </figure>
            <div class="contenido-card">
                <h3>Plantar en casa: paso a paso.</h3>
                <p>Te enseñamos a plantar en maceta y en jardín, para que llenes de vida y color tu hogar.</p>
                <div class="d-grid gap-2">
                    <a class="btn btn-outline-success"
                        href="https://www.buenosaires.gob.ar/coronavirus/bienestar/plantar-en-casa-paso-paso"
                        role="button">Ir al artículo</a>
                </div>

            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../recursos/como-empezar-huerto.jpg.webp">
            </figure>
            <div class="contenido-card">
                <h3>Cinco claves para empezar un huerto.</h3>
                <p>Si te estás planteando descubrir los beneficios de disfrutar de sabores de verdad, es momento de
                    aprender cómo empezar un huerto.</p>
                <div class="d-grid gap-2">
                    <a class="btn btn-outline-success"
                        href="https://verdecora.es/blog/cinco-claves-empezar-huerto-2" role="button">Ir al
                        artículo</a>
                </div>

            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../recursos/inta.jpg">
            </figure>
            <div class="contenido-card">
                <h3>Mi Primera Huerta: Consejos para iniciar el cultivo de hortalizas.</h3>
                <p>Pasos que recomendamos a las personas que recién empiezan su huerta, para lograr excelentes
                    producciones hortícolas.</p>
                <div class="d-grid gap-2">
                    <a class="btn btn-outline-success"
                        href="https://inta.gob.ar/noticias/mi-primera-huerta-consejos-para-iniciar-el-cultivo-de-hortalizas"
                        role="button">Ir al artículo</a>
                </div>

            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../recursos/vegetales.jpg">
            </figure>
            <div class="contenido-card">
                <h3>Huerta de primavera: consejos esenciales para principiantes.</h3>
                <p>Del sustrato al riego, hay varios secretos para que la huerta urbana se convierta en un éxito.
                </p>
                <div class="d-grid gap-2">
                    <a class="btn btn-outline-success"
                        href="https://www.clarin.com/familias/huerta-primavera-consejos-esenciales-principiantes_0_pLzMfyMJo.html"
                        role="button">Ir al artículo</a>
                </div>

            </div>
        </div>

        <div class="card">
            <figure>
                <img src="../recursos/huerta3.webp">
            </figure>
            <div class="contenido-card">
                <h3>9 pasos para construir una huerta en tu casa.</h3>
                <p>Un manual sencillo para aprender a cultivar tus alimentos en el balcón, terraza o jardín.</p>
                <div class="d-grid gap-2">
                    <a class="btn btn-outline-success"
                        href="https://news.agrofy.com.ar/noticia/174725/9-pasos-construir-huerta-tu-casa"
                        role="button">Ir al artículo</a>
                </div>

            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../recursos/huerta.jpg">
            </figure>
            <div class="contenido-card">
                <h3>La huerta en casa en otoño invierno.</h3>
                <p>Recomendaciones por especies para su aprovechamiento y manejo agroecológico.</p>
                <div class="d-grid gap-2">
                    <a class="btn btn-outline-success"
                        href="https://inta.gob.ar/noticias/la-huerta-en-casa-en-otono-invierno" role="button">Ir al
                        artículo</a>
                </div>

            </div>
        </div>


    </div>
</section>
